body {
  font-family: 'Noto Sans JP', serif !important;
  font-optical-sizing: auto !important;
  font-weight: 400 !important;
  font-style: normal !important;
  margin: 20px;
}

button {
  padding: 10px 20px;
  background-color: royalblue;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: darkblue;
}

.results {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

input, button {
  padding: 10px;
  margin: 5px 0;
  font-size: 16px;
}

.result {
  margin-top: 20px;
}

.result-item {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}
