body {
  font-family: 'Noto Sans JP', serif !important;
  font-optical-sizing: auto !important;
  font-weight: 400 !important;
  font-style: normal !important;
  margin: 20px;
}

button {
  padding: 10px 20px;
  background-color: royalblue;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: darkblue;
}

.results {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #4169e1;
  color: white;
}

tr:nth-child(odd) td {
  background-color: #f6f6f6;
}

tr:nth-child(even) td {
  background-color: #e0ecff;
}

input {
  background-color: rgb(211, 211, 211);
  width: 100%; /* Make the input box longer */
  max-width: 600px; /* Set a maximum width */
}

input, button {
  padding: 10px;
  font-size: 16px;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 4px;
  border: none;
}

button {
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
}

.result {
  margin-top: 20px;
}

.result-item {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.back-button {
  background-color: #7f7f7f; /* Darker background color */
  color: white;
}

.back-button:hover {
  background-color: #333; /* Even darker on hover */
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.scale-150 {
  transform: scale(1.5);
}

.scale-100 {
  transform: scale(1);
}

.mt-72 {
  margin-top: 18rem;
}

.text-center {
  text-align: center;
}

.animate-fadeIn {
  animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.pre-search-margin {
  margin-top: 20px;
}
